.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Result {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.Result img {
  width: 100px;
  height: 100px;
}

button {
  font-size: 20px;
}

.Error {
  color: red;
}